*{
    font-family: monospace;
    box-sizing: border-box;
}

:root {
--bgc: #EEEEEE;
--Black: #363636;
--lghtblue: #17AAAA;
--bord:  #F63F3A;
}

body {
    background-color: var(--bgc);
    font-family: monospace;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    width: 100%;
}

header, 
footer {
    text-align: center;
}

h1 {
    font-size: 80px;
    margin: 0 auto;
    color: var(--Black);
}

h2 {
    margin: 0 auto;
    color: var(--lghtblue);
}

main {
    margin: 0 auto;
    justify-content: right;
    border: solid;
    border-color: var(--bord);
    border-left: none;
}

article {
    width: 66.66%;
    height: 700px;
    padding: 8px;
    display: inline-block;
    text-align: start;
}

.about-me {
    font-size: 80px;
    margin: 0;
    padding: 16px;
    color: var(--Black);
}

.me-text{
    font-size: 18px;
    color: var(--lghtblue);
}

nav {
    background-color: var(--bgc);
    position: absolute;
    padding: 0px 50px;
    height: 700px;
    display: inline-block;
    box-sizing: border-box;
    border: solid ;
    border-color: var(--bord);
    border-top: none;
    border-bottom: none;
    transition: transform 0.3s ease-in-out;
}

.pull-tab{
    background-color: var(--bgc);
    border: solid;
    border-color: var(--bord);
    font-size: 24px;
    border-bottom: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
    width: 100px;
    padding: 6px;
    transform: translateY(150%) translateX(-121.5%) rotate(-90deg);
    color: var(--Black);
}

nav:hover {
    transform: translateX(-50%);
}


.container {
    box-sizing: border-box;
    height: 648px;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box1, .box2, .box3, .box4 {
    border: solid;
    border-color: var(--Black);
    box-sizing: border-box;
    height: 300px;
    width: 500px;
    margin: 8px 50px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}

.box1 {
    background-image: url(../images/proj-01.jpg);
}

.box2 {
    background-image: url(../images/semantic-proj.jpg);
}

.box3 {
    background-image: url(../images/proj-02.jpg);
}

.box4 {
    background-image: url(../images/WiP.jpg);
}

nav a {
    font-size: 16px;
    background-color: transparent;
}

.off-screen {
    display: none;
}

h4 {
    margin: 4px auto;
    font-size: 24px;
    color: var(--Black);
}

ul {
    list-style-type: none;
}

ul li{
    display: inline-block;
    font-size: 18px;
    margin: 0 16px;
    color: var(--lghtblue);
}
