*{
    font-family: monospace;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    border: solid black;
}

main {
    margin: 0 auto;
    justify-content: right;
    border: solid black;
}

article {
    width: 50%;
    height: 700px;
    padding: 8px;
    display: inline-block;
    text-align: start;
    border: solid black;
}

.about-me {
    font-size: 80px;
    margin: 0;
    padding: 16px;
}

nav {
    position: absolute;
    width: 900px;
    height: 700px;
    display: inline-block;
    border: solid black;
}

.pull-tab{
    border: solid black;
    background-color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 80px;
    padding: 4px;
    transform: translateY(300%) translateX(-70%) rotate(-90deg);
}